{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-14-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(14);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(14);" title="Previous slide"></i>
               <div id="panel-14-slide" class="slide-content"></div>
              <script>showSlide(14, -1);</script>
            </div>
          </div>

            <h2>ENM-Based Sampling of Essential Conformational Space at Full Atomic Resolution</h2>
            <p><b>ClustENMD</b> is a hybrid method that performs unbiased conformational sampling of highly flexible and/or large biomolecular systems 
              (Kaynak et al., 2021; Kurkcuoglu et al., 2016) 
              with high computational efficiency. The major steps of the algorithm iteratively executed in each generation are: <br>
              (i) deforming each conformer (from previous generation) along random combinations of global ANM modes for generating new conformers, <br>
              (ii) clustering of new conformers to find cluster representatives, and  <br>
              (iii) performing a short molecular dynamics (MD) simulation for each cluster representative using OpenMM software 
              (<a href="https://doi.org/10.1371/journal.pcbi.1005659">Eastman et al., 2017</a>).</p>
 

              <h4>Features</h4>
              <p>You can use ClustENMD for
                <ul>
                  <li>Unbiased sampling of conformers starting from a folded structure (experimental or modeled).</li>
                  <li>Obtaining information on transition intermediates/paths connecting two states.</li>
                  <li>Generating 2-D density distributions of conformers/energy landscapes.</li>
                  <li>Comparison with experimental structures using principal component analysis.</li>
                  <li>Generating conformers for ensemble docking purposes, as input for protein-ligand, protein-protein and protein-DNA docking 
                    (<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0158063">Kurkcuoglu and Doruker, 2016</a>; 
                     <a href="https://pubmed.ncbi.nlm.nih.gov/31441121/">Kurkcuoglu and Bonvin, 2020</a>).</li>
                </ul>

              <p><small>
              <strong>Reference</strong><br>
              Kaynak BT, Zhang S, Bahar I, Doruker P 
              <a href="https://www.biorxiv.org/content/10.1101/2021.04.16.440182v1">ClustENMD: Efficient sampling of biomolecular conformational space at atomic resolution</a> 
              <strong>2021</strong> <em>Bionformatics</em> (Accepted).<br>
              Kurkcuoglu Z, Bahar I, Doruker P 
              <a href="https://doi.org/10.1021/acs.jctc.6b00319">ClustENM: ENM-Based Sampling of Essential Conformational Space at Full Atomic Resolution</a> 
              <strong>2016</strong> <em>J Chem Theory Comput</em> 12(9):4549-4562.<br>
              Eastman P et al., <a href="https://doi.org/10.1371/journal.pcbi.1005659">OpenMM 7: Rapid development of high performance algorithms for molecular dynamics</a> 
              <strong>2017</strong> <em>PLoS Comput Biol</em> 13(7): e1005659.<br>
              Kurkcuoglu Z, Doruker P 
              <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0158063">Ligand Docking to Intermediate and Close-To-Bound Conformers Generated by an Elastic Network Model Based Algorithm for Highly Flexible Proteins</a> 
              <strong>2016</strong> <em>PLoS One</em> 11(6):e0158063.<br>
              Kurkcuoglu Z, Bonvin A 
              <a href="https://pubmed.ncbi.nlm.nih.gov/31441121/">Pre‐ and post‐docking sampling of conformational changes using ClustENM and HADDOCK for protein‐protein and protein‐DNA systems</a> 
              <strong>2020</strong> <em>Proteins</em> 88(2):292-306.
          </div>
        </div>

{% endblock %}
