{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-7-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(7);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(7);" title="Previous slide"></i>
               <div id="panel-7-slide" class="slide-content"></div>
              <script>showSlide(7, -1);</script>
            </div>
          </div>

            <h2>Collective MD (coMD)</h2>
            <p><b>coMD</b> is a hybrid method with a 
            <a href="http://www.ks.uiuc.edu/Research/vmd/">VMD</a>
            plugin designed for efficient simulations of conformational changes. ENM modes selected by a Monte Carlo/Metropolis algorithm are used for accelerating the MD trajectories (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3791301/">Gur et. al, 2013</a>) CoMD can be used for estimating the conformational energy landscape (<a href="http://scitation.aip.org/content/aip/journal/jcp/143/24/10.1063/1.4936133/">Gur et. al, 2015</a>).</p>

            <h4>Features</h4>
            <p><b>coMD</b> can be used for
            </p>
            <ul class="simple">
              <li>Sampling the conformational space near native state and substates.</li>
              <li>Generating transition paths between known conformers. </li>
              <li>Obtaining information on global dynamics at atomic resolution.</li>
              <li>Generating energy landscapes in the space of principal coordinates.</li>
            </ul>


            <h4>Download</h4>
            <p><b>coMD</b> plugin files can be obtained from
            <a href="../tutorials/comd_tutorial/intro.html">Getting coMD</a>.
            </p>
            <p><small>
              <strong>References</strong><br>
              Gur M, Madura DJ, Bahar I
              <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3791301/" target="_blank">
              Global Transitions of Proteins Explored by a Multiscale Hybrid Methodology: Application to Adenylate Kinase </a>
              <strong>2013</strong> <em>Biophys J</em> 105(7):1643-1652.<br>
              Gur M, Zomot E, Cheng MH, Bahar I. 
              <a class="reference external" href="http://scitation.aip.org/content/aip/journal/jcp/143/24/10.1063/1.4936133/" target="_blank">
              Energy Landscape of LeuT from Molecular Simulations. </a>
              <strong>2015</strong> <em>J Chem Phys</em> 143(24):243134.
            </small></p>
          </div>
        </div>


{% endblock %}
