{% extends "index.html" %}
{% block body %}
          <div class="row">
            <div class="span12">
              <h2>Downloads</h2>
              <h3>Release Notes</h3>
              <p>{%- include "release.html" %}</p>
              <h3>Installation</h3>
              <h5><span class="badge badge-warning">*</span> Using a Package Manager</h5>
              <p>You can install <i>ProDy</i> and <i>Evol</i> using
                <a href="http://www.pip-installer.org/">pip</a>,
                <code>pip install -U ProDy</code></a>.
                Please note that you may have to manually remove previous versions of 
                Prody first.
              </p>
            </div>
            <div class="span6">
              <h5><span class="badge badge-warning">*</span> Requirements</h5>
              You need to install the following software before installing <i>ProDy:</i>

              <dl>
                <dt><a href="http://www.python.org/download/" target="_blank">Python</a></dt>
                <dd>We recommend that you use 2.7, 3.4 or later.
                    For Windows, you can choose <strong>32-bit</strong> or <strong>64-bit</strong> Python installer.
                </dd>
                <dt><a href="http://sourceforge.net/projects/numpy/files/NumPy/" target="_blank">NumPy</a></dt>
                <dd>We recommend that you use the latest version of NumPy, but v1.10 and later are supported.
                    For Windows, make sure that you choose compatible versions of NumPy and <i>ProDy</i>. 
                    Make sure that the version is compatible with your <i>ProDy</i> and <i>Python</i> version.
                </dd>
                <dt><a href="http://biopython.org/wiki/Download/" target="_blank">Biopython</a></dt>
                <dd>We recommend that you use the latest version of biopython, but all versions should be supported.
                </dd>
              </dl>
            </div>
            <div class="span6">
              <h5><span class="badge badge-warning">3</span> Installation</h5>

              <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#linux">Linux & Mac OS</a></li>
                <li><a href="#windows">Windows</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="linux">
                  <p>Extract tarball contents and run setup.py as follows:</p>

                  <pre>$ tar -xzf ProDy-{{ version }}.tar.gz
$ cd ProDy-{{ version }}
$ python setup.py build
$ sudo python setup.py install</pre>
                If you don’t have root access, see alternate installation schemes in <a href="http://docs.python.org/2/install/">Installing Python Modules</a>.

                </div>
                <div class="tab-pane" id="windows">
                  <p>Execute <code>ProDy-{{ version }}.win32-pyX.Y.exe</code> or <code>ProDy-{{ version }}.win-amd64-pyX.Y.exe</code> file and follow installation steps.</p>

                  <p>To be able use ProDy Applications and Evol Applications in command prompt (<code>cmd.exe</code>), append Python and scripts folders
                    (e.g. <code>C:\Python27</code> and <code>C:\Python27\Scripts</code>) to <code>PATH</code> environment variable.</p>
                </div>
              </div>

              <script>
                $('#myTab a').click(function (e) {
                  e.preventDefault();
                  $(this).tab('show');
                })
                $(function () {
                  $('#myTab a:first').tab('show');
                })
              </script>
              <h5><span class="badge badge-warning">4</span> Recommendations</h5>

              We recommend that you also install
              <a href="http://matplotlib.org/downloads.html" target="_blank">Matplotlib</a> for plotting, and
              <a href="https://pypi.python.org/pypi/ipython#downloads" target="_blank">IPython</a> for interactive usage.
              On Windows, you need to install
              <a href="https://pypi.python.org/pypi/pyreadline/2.0" target="_blank">pyreadline</a>
              for colorful IPython sessions.

            </div>
          </div>

{% endblock %}
