{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-6-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(6);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(6);" title="Previous slide"></i>
              <div id="panel-6-slide" class="slide-content"></div>
              <script>showSlide(6, -1);</script>
            </div>
          </div>

            <h2><i>DruGUI</i> for Druggability Analysis</h2>
            <p><i>DruGUI</i> is a
            <a href="http://www.ks.uiuc.edu/Research/vmd/">VMD</a>
            plugin designed for setup and analysis of simulations containing
            small organic molecules (probes) for druggability assessment.
            <i>DruGUI</i> can incorporate a diverse set of molecules
            from CHARMM General Force Field
            (<a href="http://mackerell.umaryland.edu/~kenno/cgenff/">CGenFF</a>)
            into simulations.</p>

            <h4>Features</h4>
            <p><i>DruGUI</i> can be used to</p>

            <ul class="simple">
              <li>identify <i>druggable</i> and <i>ligandable</i> sites </li>
              <li>setup a simulations that contain diverse probe molecules </li>
              <li>calculate probe molecule occupancy grids</li>
              <li>analyze druggability of target protein</li>
              <li>perform druggability analysis of specific sites</li>
            </ul>


            <h4>Download</h4>
            <p><i>DruGUI</i> plugin files can be obtained from
            <a href="{{ pathto('tutorials/drugui_tutorial/intro') }}">Getting DruGUI</a>.
            </p>
            <p><small>
              <strong>Reference</strong><br>
              Bakan A, Nevins N, Lakdawala AS, Bahar I
              <a class="reference external" href="http://pubs.acs.org/doi/abs/10.1021/ct300117j" target="_blank">
              Druggability Assessment of Allosteric Proteins by Dynamics Simulations in the Presence of Probe Molecules </a>
              <em>J Chem Theory Comput</em> <strong>2012</strong> 8(7):2435-2447.
            </small></p>
          </div>
        </div>

{% endblock %}
