{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-12-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(12);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(12);" title="Previous slide"></i>
               <div id="panel-12-slide" class="slide-content"></div>
              <script>showSlide(12, -1);</script>
            </div>
          </div>

            <h2>Essential Site Scanning Analysis</h2>
            <p><b>ESSA</b> calculates the essentiality of residues within a protein in terms of their ability to modulate its dynamics upon perturbation.</p>
 

              <h4>API Features</h4>
              <p>You can use ESSA to
                <ul>
                  <li>create <a href="{{ pathto('manual/reference/ensemble/pdbensemble') }}">PDB ensembles</a> of protein families from database searches<a href="{{ pathto('tutorials/signdy_tutorial/searches.html') }}"></a></li>
                  <li>evaluate <a href="{{ pathto('tutorials/signdy_tutorial/core.html#signature-dynamics', 1) }}">signature dynamics</a> profiles and cross-correlations</li>
                  <li>calculate <a href="{{ pathto('tutorials/signdy_tutorial/core.html#signature-dynamics', 1) }}">shared global mode profiles</a> for assessing conserved motions among family members</li>
                  <li>assess departures from shared mode profiles and other protein-specific features</li>
                  <li>examine the <a href="{{ pathto('tutorials/signdy_tutorial/classifications.html#spectral-overlap-and-distance') }}">spectral overlaps</a> between family members</li>
                  <li>generate <a href="{{ pathto('tutorials/signdy_tutorial/classifications.html#comparing-sequence-structural-and-dynamic-classifications', 1) }}">sequence-, structure- and dynamics-based trees</a> for analyzing their evolution</li>
                </ul>

              <p><small>
              <strong>Reference</strong><br>
              Burak T Kaynak, Ivet Bahar, Pemra Doruker
              <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7330491/">Essential site scanning analysis: A new approach for detecting sites that modulate the dispersion of protein global motions.</a>
              <em>Comput Struct Biotechnol J</em> <strong>2020</strong> 18:1577-1586<br>
          </div>
        </div>

{% endblock %}
