{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-12-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(12);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(12);" title="Previous slide"></i>
               <div id="panel-12-slide" class="slide-content"></div>
              <script>showSlide(12, -1);</script>
            </div>
          </div>

            <h2>Essential Site Scanning Analysis (ESSA)</h2>
            <p><b>ESSA</b> identifies sites that modify the global/functional dynamics of a protein by perturbing each residue via crowding its local environmet in the elastic netwrok. 
              Essentiality of a residue in response to a perturbation is measured ny the mean shift in the frequency of the softest modes.</p>
 

              <h4>API Features</h4>
              <p>You can use <b>ESSA</b> to
                <ul>
                  <li>Detection of essential residues that are located at ligand binding, e.g. allosteric or orthosteric, sites or mechanical hinges</li>
                  <li>Generation of ESSA profile, namely the z-score of mean frequency shift for each resiude</li>
                  <li>Prediction of allosteric pockets for apo and holo structures via integration with Fpocket algorithm</li>
                </ul>

              <p><small>
              <strong>Reference</strong><br>
              Kaynak BT, Bahar I, Doruker P,
              <a href="https://www.sciencedirect.com/science/article/pii/S2001037020303093">Essantial site scanning analysis: A new approach for detecting sites that modulate the dispersion of protein global motions,</a>
              <em>Comput Struct Biotechnol J</em> <strong>2020</strong> 18:1577–1586.<br>
              Le Guilloux V, Schmidtke P, Tuffery P,
              <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-10-168">Fpocket: An open source platform for ligand pocket detection</a>
              <em>BMC Bioinformatics</em> <strong>2009</strong> 16:168.<br>
              </small></p>
          </div>
        </div>

{% endblock %}
