{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-15-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(15);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(15);" title="Previous slide"></i>
               <div id="panel-15-slide" class="slide-content"></div>
              <script>showSlide(15, -1);</script>
            </div>
          </div>

            <h2>Interactions and Stability</h2>
            <p><b>InSty</b> detects seven types of non-covalent interactions (hydrogen bonds, salt bridges, hydrophobic, pi-stacking, pi-cation, repulsive ionic bonding, and disulfide bonds) within
            a protein structure and between proteins in complexes.</p>
 

              <h4>Features</h4>
              
              <i>InSty</i> can analyze single protein structures (PDB files), collections of structures (PDB ensembles), and conformers from molecular dynamics trajectories to detect contacts that are relevant to
              protein stability and dynamics. It uses multiple criteria, including geometric features (distances and angles). The code is flexible and allows the user to tune the data analysis appropriately
              to the analyzed system or protein region. 
              InSty provides a suite of functions for generating raw data (including files for subsequent analysis) and outputs for statistical analyses and visualization tools. InSty takes advantage of
              the ProDy framework to interpret the observation in the context of protein dynamics.
              
              <p>You can use InSty to
                <ul>
                  <li>Identifying seven types of non-covalent interactions within protein structure or between different proteins that are forming a complex</li>
                  <li>Identifying residues with a high propensity to associate with other residues</li>
                  <li>Detecting residues that are particularly important for protein dynamics and stability (in single PDB, ensemble PDB, trajectory
                  including output from Elastic Network Models)</li>
                  <li>Generating diagrams displaying the evolution and frequency of occurrence of specific types of interactions</li>
                  <li>Identifying differences in interactions between particular conformations, which can be applied to study the effect of mutations</li>
                </ul>
              <!-- 
              <p><small>
              <strong>Reference</strong><br>
              Mikulska-Ruminska K, Krieger JM, Cao X, Banerjee A, Wu G, Simmerling C, Coutsias EA, Bahar I
              InSty: a new module in ProDy for evaluating the interactions and stability of proteins
              <strong>2024</strong> <em>Bioinformatics</em> 160:104-120.
              -->
          </div>
        </div>

{% endblock %}
