{% extends "index.html" %}
{% block body %}


          <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-4-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(4);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(4);" title="Previous slide"></i>
               <div id="panel-4-slide" class="slide-content"></div>
              <script>showSlide(4, -1);</script>
            </div>
          </div>

            <h2>Membrane ANM (membrANM)</h2>
            <p><b>membrANM</b> is a suite of tools for investigating the global structural dynamics of transporters and other membrane proteins.
            </p>

            <h4>Features</h4>
            <p><b>membrANM</b> can be used for
            </p>
            <ul class="simple">
              <li>Evaluating membrane proteins' dynamics in the presence of bilayer, also modeled as an elastic network model, explicit or implicit.</li>
              <li>Comparing protein global motions in the presence and absence of membrane.</li>
              <li>Understanding mechanisms of protein-membrane remodeling or coupling to facilitate function.</li>
            </ul>

            <h4>Download</h4>
            <p><b>membrANM</b> tutorial files can be obtained from
            <a href="../tutorials/membrane_anm/intro.html">Getting membrANM</a>.
            </p>

              <p>
                <small>
                  <strong>Reference</strong><br>
                  Lezon TR, Bahar I
                  <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3309413/" target="_blank">
                  Constraints Imposed by the Membrane Selectively Guide the Alternating Access Dynamics of the Glutamate Transporter Glt<sub>Ph</sub>
                  </a>
                  <strong>2012</strong> <em>Biophys J</em> 102(6):1331-1340.
                </small>
              </p>
            </div>
          </div>


{% endblock %}
