{% extends "index.html" %}
{% block body %}

          <div class="row">
            <div class="span12">
             <div class="col-sm-5 span5 pull-right" style="padding-top: 20px">
                <div class="well">
                  <div id="panel-1-title" class="slide-title"></div>
                  <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(1);" title="Next slide"></i>
                  <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(1);" title="Previous slide"></i>
                  <div id="panel-1-slide" class="slide-content"></div>
                  <script>showSlide(1, -1);</script>
                </div>
				<table align="center">
				<tr>
					<td width="140" height="160" align="center" style="min-height:20px;padding:10px;margin-bottom:6px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)">
					  <div style="font-style:italic; font-weight:strong; align:center; height:25px;"><a style="color:#8B0000; text-decoration: underline; text-decoration-color:#8B0000;" href="http://anm.csb.pitt.edu/cgi-bin/anm2/anm2.cgi">new ANM server</a></div><div><a href="http://anm.csb.pitt.edu/cgi-bin/anm2/anm2.cgi"><img width="130" height="130" src="./_static/1tup_130.png"></a></div>
					</td>
					<td width="15">
						&nbsp;
					</td>
					<td width="140" height="160" align="center" style="min-height:20px;padding:10px;margin-bottom:6px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)">
					  <div style="font-style:italic; font-weight:strong; align:center; height:25px;"><a style="color:#8B0000; text-decoration: underline; text-decoration-color:#8B0000;" href="http://gnmdb.csb.pitt.edu/">new iGNM database</a></div><div><a href="http://gnmdb.csb.pitt.edu/"><img width="130" height="130" src="./_static/1KX4_130.png"></a></div>
					</td>
				</tr>
				</table>
              </div>
	      <div class="col-sm-7">
		<h2><i>ProDy</i> Project</h2>
              <p>
                <i>ProDy</i> is a free and open-source Python package for protein structural dynamics analysis.
                It is designed as a flexible and responsive API suitable for interactive usage and application development.
              </p>

              <h4>Structure analysis</h4>
              <p>
                <i>ProDy</i> has fast and flexible
                <a href="{{ pathto('tutorials/structure_analysis/pdbfiles') }}">PDB</a> and
                <a href="{{ pathto('tutorials/trajectory_analysis/trajectory') }}">DCD</a> file parsers,
                and powerful and customizable <a href="{{ pathto('manual/reference/atomic/select') }}">atom selections</a>
                for <a href="{{ pathto('tutorials/structure_analysis/contacts') }}">contact identification</a>,
                <a href="{{ pathto('tutorials/structure_analysis/compare') }}">structure comparisons</a>,
                and rapid implementation of new methods.
              </p>

              <h4>Dynamics analysis</h4>
              <ul>
                <li> Principal component analysis can be performed for
                  <ul>
                    <li>heterogeneous <a href="{{ pathto('tutorials/ensemble_analysis/xray') }}">X-ray structures</a> (missing residues, mutations)</li>
                    <li>mixed structural datasets <a href="{{ pathto('tutorials/ensemble_analysis/blast') }}">from Blast search</a></li>
                    <li><a href="{{ pathto('tutorials/ensemble_analysis/nmr') }}">NMR models</a> and <a href="{{ pathto('tutorials/trajectory_analysis/eda') }}">MD snapshots</a> (essential dynamics analysis)</li>
                  </ul>
                </li>
                <li>
                  Normal mode analysis can be performed using
                  <ul>
                  <li> <a href="{{ pathto('tutorials/enm_analysis/anm') }}">Anisotropic network model</a> (ANM)</li>
                  <li> <a href="{{ pathto('tutorials/enm_analysis/gnm') }}">Gaussian network model</a> (GNM)</li>
                  <li> ANM/GNM with <a href="{{ pathto('tutorials/enm_analysis/gamma') }}">distance</a> and <a href="{{ pathto('manual/reference/dynamics/gamma') }}">property</a> dependent force constants </li>
                  </ul>
                </li>
              </ul>
              <p>
                  Dynamics from experimental datasets, theoretical models and simulations can be visualized
                  using <a data-target="#carousel" data-slide-to="2" href="{{ pathto('nmwiz', 1) }}"><i>NMWiz</i></a>.
              </p>

              <p>
                <small>
                  <strong>Reference</strong><br>
                  Bakan A, Meireles LM, Bahar I
                  <a href="http://bioinformatics.oxfordjournals.org/content/27/11/1575">
                    ProDy: Protein Dynamics Inferred from Theory and Experiments
                  </a> <strong>2011</strong> <em>Bioinformatics</em> 27(11):1575-1577<br>
                  Bakan A, Dutta A, Mao W, Liu Y, Chennubhotla C, Lezon TR, Bahar I
                  <a href="http://bioinformatics.oxfordjournals.org/content/30/18/2681.long">
                    Evol and ProDy for Bridging Protein Sequence Evolution and Structural Dynamics
                  </a> <strong>2014</strong> <em>Bioinformatics</em> 30(18):2681-2683
                </small>
              </p>
              <p>
                <small>
                  <strong>Funding</strong><br>
                Continued development of <i>ProDy</i> is supported by
                <a href="http://www.nih.gov/" target="_blank">NIH</a> through R01 GM099738 award.
                </small>
              </p></div>
            </div>
          </div>

{% endblock %}
