{% extends "index.html" %}
{% block body %}

          <div class="row">
            <div class="span12">
             <div class="span5 pull-right" style="padding-top: 20px">
                <div class="well">
                  <div id="panel-1-title" class="slide-title"></div>
                  <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(1);" title="Next slide"></i>
                  <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(1);" title="Previous slide"></i>
                  <div id="panel-1-slide" class="slide-content"></div>
                  <script>showSlide(1, -1);</script>
                </div>
              </div>
              <h2><i>ProDy</i> Project</h2>
              <p>
                <i>ProDy</i> is aa: free and open-source Python package for protein structural dynamics analysis.
                It is designed as a flexible and responsive API suitable for interactive usage and application development.
              </p>

              <h4>Structure analysis</h4>
              <p>
                <i>ProDy</i> has fast and flexible
                <a href="{{ pathto('tutorials/structure_analysis/pdbfiles') }}">PDB</a> and
                <a href="{{ pathto('tutorials/trajectory_analysis/trajectory') }}">DCD</a> file parsers,
                and powerful and customizable <a href="{{ pathto('manual/reference/atomic/select') }}">atom selections</a>
                for <a href="{{ pathto('tutorials/structure_analysis/contacts') }}">contact identification</a>,
                <a href="{{ pathto('tutorials/structure_analysis/compare') }}">structure comparisons</a>,
                and rapid implementation of new methods.
              </p>

              <h4>Dynamics analysis</h4>
              <ul>
                <li> Principal component analysis can be performed for
                  <ul>
                    <li>heterogeneous <a href="{{ pathto('tutorials/ensemble_analysis/xray') }}">X-ray structures</a> (missing residues, mutations)</li>
                    <li>mixed structural datasets <a href="{{ pathto('tutorials/ensemble_analysis/blast') }}">from Blast search</a></li>
                    <li><a href="{{ pathto('tutorials/ensemble_analysis/nmr') }}">NMR models</a> and <a href="{{ pathto('tutorials/trajectory_analysis/eda') }}">MD snapshots</a> (essential dynamics analysis)</li>
                  </ul>
                </li>
                <li>
                  Normal mode analysis can be performed using
                  <ul>
                  <li> <a href="{{ pathto('tutorials/enm_analysis/anm') }}">Anisotropic network model</a> (ANM)</li>
                  <li> <a href="{{ pathto('tutorials/enm_analysis/gnm') }}">Gaussian network model</a> (GNM)</li>
                  <li> ANM/GNM with <a href="{{ pathto('tutorials/enm_analysis/gamma') }}">distance</a> and <a href="{{ pathto('manual/reference/dynamics/gamma') }}">property</a> dependent force constants </li>
                  </ul>
                </li>
              </ul>
              <p>
                  Dynamics from experimental datasets, theoretical models and simulations can be visualized
                  using <a data-target="#carousel" data-slide-to="2" href="{{ pathto('nmwiz', 1) }}"><i>NMWiz</i></a>.
              </p>

              <p>
                <small>
                  <strong>Reference</strong><br>
                  Bakan A, Meireles LM, Bahar I
                  <a href="http://bioinformatics.oxfordjournals.org/content/27/11/1575">
                    ProDy: Protein Dynamics Inferred from Theory and Experiments
                  </a> <strong>2011</strong> <em>Bioinformatics</em> 27(11):1575-1577
                </small>
              </p>
              <p>
                <small>
                  <strong>Funding</strong><br>
                Continued development of <i>ProDy</i> is supported by
                <a href="http://www.nih.gov/" target="_blank">NIH</a> through R01 GM099738 award.
                </small>
              </p>
            </div>
          </div>

{% endblock %}
