{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-10-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(10);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(10);" title="Previous slide"></i>
               <div id="panel-10-slide" class="slide-content"></div>
              <script>showSlide(10, -1);</script>
            </div>
          </div>

            <h2>Signature Dynamics of Protein Families</h2>
            <p><b>SignDy</b> calculates the signature dynamics of families of proteins that share similar folds, but not necessarily similar sequences. Signature dynamics includes shared mode profiles, shared covariance between residue fluctuations, and their variations across family members.</p>
 

              <h4>API Features</h4>
              <p>You can use SignDy to
                <ul>
                  <li>create <a href="{{ pathto('manual/reference/ensemble/pdbensemble') }}">PDB ensembles</a> of protein families from database searches including <a href="{{ pathto('tutorials/signdy_tutorial/overview.html') }}">DALI</a> and  <a href="{{ pathto('tutorials/signdy_tutorial/cath.html') }}">CATH</a></li>
                  <li>evaluate <a href="{{ pathto('tutorials/signdy_tutorial/core.html#signature-dynamics', 1) }}">signature dynamics</a> profiles and cross-correlations</li>
                  <li>calculate <a href="{{ pathto('tutorials/signdy_tutorial/core.html#signature-dynamics', 1) }}">shared global mode profiles</a> for assessing conserved motions among family members</li>
                  <li>assess departures from shared mode profiles and other protein-specific features</li>
                  <li>examine the <a href="{{ pathto('tutorials/signdy_tutorial/classifications.html#spectral-overlap-and-distance') }}">spectral overlaps</a> between family members</li>
                  <li>generate <a href="{{ pathto('tutorials/signdy_tutorial/classifications.html#comparing-sequence-structural-and-dynamic-classifications', 1) }}">sequence-, structure- and dynamics-based trees</a> for analyzing their evolution</li>
                </ul>

              <p><small>
              <strong>Reference</strong><br>
              She Zhang, Hongchun Li, James M Krieger, Ivet Bahar.
              <a href="https://academic.oup.com/mbe/advance-article/doi/10.1093/molbev/msz102/5481007">SignDy: Discovering the Signature Dynamics of Protein Families with Elastic Network Model Analysis.</a>
              <em>Mol Biol Evol</em> <strong>2019</strong> 36(9):2053–2068<br>
              Karolina Mikulska-Ruminska, Indira Shrivastava, James Krieger, She Zhang, Hongchun Li, Hülya Bayır, Sally E Wenzel, Andrew P VanDemark, Valerian E Kagan, Ivet Bahar.
              <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jcim.9b00006">Characterization of Differential Dynamics, Specificity, and Allostery of Lipoxygenase Family Members.</a>
              <em>J Chem Inf Model</em> <strong>2019</strong> 59(5):2496-2508<br>
              Luca Ponzoni, She Zhang, Mary Hongying Cheng, Ivet Bahar. 
              <a href="https://royalsocietypublishing.org/doi/full/10.1098/rstb.2017.0177">Shared dynamics of LeuT superfamily members and allosteric differentiation by structural irregularities and multimerization.</a>
              <em>Philos Trans Royal Soc B</em> <strong>2018</strong> 373:20170177.<br>
              </small></p>
          </div>
        </div>

{% endblock %}
