{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-5-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(5);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(5);" title="Previous slide"></i>
               <div id="panel-5-slide" class="slide-content"></div>
              <script>showSlide(5, -1);</script>
            </div>
          </div>

            <h2><b>SignDy</b> for Signature Dynamics Calculations</h2>
            <p><b>SignDy</b> calculates signature dynamics from ensembles of protein structures using elastic network models. 

              <h4>API Features</h4>
              <p>
                <ul>
                  <li>Creation of <a href="{{ pathto('manual/reference/ensemble/pdbensemble.html') }}"></a>PDB ensembles</a> of related proteins from database searches<a href="{{ pathto('tutorials/signdy_tutorial/searches.html') }}"></a> or a user defined list</li>
                  <li>Calculation of <a href="{{ pathto('manual/reference/dynamics/signature.html?highlight=modeensemble#prody.dynamics.signature.ModeEnsemble') }}"></a>mode ensembles</a> for comparison of dynamics across family members</li>
                  <li>Calculation of <a href="{{ pathto('tutorials/signdy_tutorial/comparisons.html#spectral_overlap') }}">spectral overlaps</a> for analysis of conserved modes across protein families</li>
                  <li>Calculation and plotting of <a href="{{ pathto('tutorials/signdy_tutorial/comparisons.html#dynamics', 1) }}">signature dynamics</a> profiles and cross-correlations</li>
                  <li>Calculation of <a href="{{ pathto('tutorials/signdy_tutorial/comparisons.html#dynamics', 1) }}"></a>sequence-, structure- and dynamics-based trees</a> for analysis of differences between family members</li>
                </ul>


              <strong>Reference</strong><br>
              Eyal E, Bahar I
              <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/18223005" target="_blank">
              Toward a Molecular Understanding of the Anisotropic Response of Proteins to External Forces: Insights from Elastic Network Models </a>
              <em>Biophys J</em> <strong>2008</strong> 94(9):3424-3435.<br>
            </small></p>
          </div>
        </div>

{% endblock %}
