{% extends "index.html" %}
{% block body %}
          <div class="row">
            <div class="span12">
              <h2>Statistics</h2>
	      <h3>Prody has been downloaded
	      <script>
		function readTextFile(file){
            	var rawFile = new XMLHttpRequest();
	    	var txt = "";
            	rawFile.open("GET", file, false);
            	rawFile.onreadystatechange = function ()
            	{
                	if(rawFile.readyState === 4)
                	{
                    		if(rawFile.status === 200 || rawFile.status == 0)
                    		{
                        		var allText = rawFile.responseText;
                        		txt += allText;
                    		}
                	}
            	}
            	rawFile.send(null);
	    	document.write(txt);
        	}
		readTextFile("http://prody.csb.pitt.edu/statistics/statistics.txt");
	     </script>
		times. </h3>
              <p>
                The table and map below displays the data from <a href="http://www.google.com/analytics/">
                Google Analytics</a> on the total number of visitors to ProDy API since Jan 2011. More detailed 
                statistics from Google Analytics are given below 
              </p>
            </div>
            <div class="span4">
              <div id="table_div" style="height:  352px; width: 260px;" align='top'></div>
            </div>
            <div class="span8" style="margin-bottom: 10px;">
              <div id="regions_div" style="width: 620px;" align='top'></div>
            </div>
            <div class="span6">
              <div id="piechart1" style="width: 486px;" align='top'></div>
            </div>
            <div class="span6" style="margin-bottom: 10px;">
              <div id="piechart2" style="width: 486px;" align='top'></div>
            </div>
            <div class="span12">
              <div id="table_div2" align='top'></div>
            </div>
            <div class="span12">
              <h3>Code Statistics</h3>
              <p>
                ProDy is developed in Python and C. Detailed breakdown of code lines
                and other factoids can be found on <a href="https://www.ohloh.net/p/ProDy">Ohloh</a>.
              </p>
            </div>
            <div class="span5">
              <script type="text/javascript" src="http://www.ohloh.net/p/486435/widgets/project_languages.js"></script>
            </div>
            <div class="span7">
              <script type="text/javascript" src="http://www.ohloh.net/p/486435/widgets/project_cocomo.js"></script>
          </div>
        </div>
{% endblock %}
