{% extends "index.html" %}
{% block body %}

          <div class="row">
            <div class="span12">
              <div>
                <h2>Tutorials</h2>
              </div>
              <ul class="thumbnails">
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/ubiquitin.png', 1) }}" style="max-height: 160px">
                    <h5>ProDy</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to use ProDy
                      from the introductory ProDy tutorial or
                      from the comprehensive API reference manual.</p>
                    </p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/prody_tutorial', 1) }}">Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/prody_tutorial/prody_tutorial.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('tutorials/prody_tutorial/prody_tutorial_files.tgz', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="{{ pathto('tutorials/prody_tutorial/prody_tutorial_files.zip', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                      </ul>
                    </div>
                    <div class="btn-group">
                      <a class="btn btn-info" href="{{ pathto('manual', 1) }}">Manual</a>
                      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('manual/ProDy.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('devel', 1) }}"><i class="icon-book"></i> Devel version HTML</a></li>
                        <li><a href="{{ pathto('devel/ProDy.pdf', 1) }}"><i class="icon-book"></i> Devel version PDF</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/nm.png', 1) }}" style="max-height: 160px">
                    <h5>Normal Mode Wizard</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to depict normal modes and generate animations of protein dynamics along them with NMWiz.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/nmwiz_tutorial', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/nmwiz_tutorial/nmwiz_tutorial.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('tutorials/nmwiz_tutorial/nmwiz_tutorial_files.tgz', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="{{ pathto('tutorials/nmwiz_tutorial/nmwiz_tutorial_files.zip', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/evol_logo.png', 1) }}" style="max-height: 160px">
                    <h5>Evol</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to identify conserved and coevolved residues and characterizing their dynamical properties.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/evol_tutorial', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/evol_tutorial/evol_tutorial.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/gallery/logo_mdm2.png', 1) }}" style="max-height: 160px">
                    <h5>Drugability Suite</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to setup and analyze druggability simulations containing small organic molecules using DruGUI.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/drugui_tutorial', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/drugui_tutorial/drugui_tutorial.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('tutorials/drugui_tutorial/drugui_plugin_files.tgz', 1) }}"><i class="icon-download-alt"></i> Plugin files <code>.tgz</code></a></li>
                        <li><a href="{{ pathto('tutorials/drugui_tutorial/drugui_plugin_files.zip', 1) }}"><i class="icon-download-alt"></i> Plugin files <code>.zip</code></a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('tutorials/drugui_tutorial/drugui_tutorial_files.tgz', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="{{ pathto('tutorials/drugui_tutorial/drugui_tutorial_files.zip', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                      </ul>
                    </div>
                  </div>
                </li>

                <!-- 2ND ROW -->
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/gallery/NMWiz_threemodes.png', 1) }}" style="max-height: 160px">
                    <h5>Elastic Network Models</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to perform normal mode analysis and developing customized force constant functions.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/enm_analysis', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/enm_analysis/enm_analysis.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/gallery/p38_ensemble.png', 1) }}" style="max-height: 160px">
                    <h5>Ensemble Analysis</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to analyze large and heterogeneous ensembles of protein structures to infer dynamical properties.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/ensemble_analysis', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/ensemble_analysis/ensemble_analysis.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/gallery/showprotein_sm.png', 1) }}" style="max-height: 160px">
                    <h5>Structure Analysis</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to compare and align structures, identify ligand contacts,
                      and extract ligands from PDB files.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/structure_analysis', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/structure_analysis/structure_analysis.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                      </ul>
                    </div>
                  </div>
                </li>

                <!-- 3ND ROW -->
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/gallery/gyradius.png', 1) }}" style="max-height: 160px">
                    <h5>Trajectory Analysis</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to analyze simulation trajectories, in particular handling large trajectory files that don't fit in memory.</p>
                    <div class="btn-group dropup">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/trajectory_analysis', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/trajectory_analysis/trajectory_analysis.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('tutorials/trajectory_analysis/trajectory_analysis_files.tgz', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="{{ pathto('tutorials/trajectory_analysis/trajectory_analysis_files.zip', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- 2ND ROW -->
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/p38_sampling.png', 1) }}" style="max-height: 160px">
                    <h5>Conformational Sampling</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to generate alternate protein conformations along ANM modes and to refine them using NAMD.</p>
                    <div class="btn-group dropup">
                      <a class="btn btn-primary" href="{{ pathto('tutorials/conformational_sampling', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/conformational_sampling/conformational_sampling.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('tutorials/conformational_sampling/conformational_sampling_files.tgz', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="{{ pathto('tutorials/conformational_sampling/conformational_sampling_files.zip', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                      </ul>
                    </div>
                  </div>
                </li>

                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="../_static/gallery/comd_image.jpg" style="max-height: 160px">
                    <h5>Collective Molecular Dynamics (coMD)</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to sample transition pathways between known conformers using a multiscale hybrid methodology.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="comd_tutorial">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="comd_tutorial/comd_tutorial.pdf"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="comd_tutorial/comd_tutorial_files.tgz"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="comd_tutorial/comd_tutorial_files.zip"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                        <li class="divider"></li>
                        <li><a href="comd_tutorial/comd_plugin_files.tgz"><i class="icon-download-alt"></i> Plugin files <code>.tgz</code></a></li>
                        <li><a href="comd_tutorial/comd_plugin_files.zip"><i class="icon-download-alt"></i> Plugin files <code>.zip</code></a></li>
                      </ul>
                    </div>
                  
                  </div>
                </li>

                <!-- 3ND ROW -->
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="../_static/gallery/MEmbraneProtein_web.jpg" style="max-height: 160px">
                    <h5>Membrane ANM (membrANM)</h5>
                    <p class="text-center" style="padding: 0 10 0 10">Learn how to include the effect of lipid bilayer in ENM study of membrane proteins dynamics.</p>
                    <div class="btn-group dropup">
                      <a class="btn btn-primary" href="membrane_anm">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="membrane_anm/membrane_anm.pdf"><i class="icon-book"></i> Download PDF</a></li>
                      </ul>
                    </div>
                  </div>
                </li>

                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="{{ pathto('_static/gallery/mechstiff.png', 1) }}" style="max-height: 160px">
                    <h5>MechStiff</h5>
                    <p class="text-center" style="padding: 0 10 0
                    10">Learn how to evaluate the effective resistance of residues to deformation in the particular 3D structure </p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{{pathto('tutorials/stiffmech', 1) }}">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ pathto('tutorials/stiffmech/mechstiff.pdf', 1) }}"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ pathto('tutorials/stiffmech/mechstiff.tgz', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="{{ pathto('tutorials/stiffmech/mechstiff.zip', 1) }}"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- 5TH ROW -->
		<li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    <img src="../_static/gallery/Sax_curve.png" style="max-height: 160px">
                    <h5>SAXS Analysis</h5>
                    <p class="text-center" style="padding: 0 10 0 10">How SAXS data could be used for dynamic analysis.</p>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="saxs_tutorial">Go to Tutorial</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    </div>

                  </div>
                </li>
    <!-- Work in Progress
                <li class="span4">
                  <div class="thumbnail text-center" style="height: 310px">
                    
                    <img src="../_static/gallery/prism_logo2.png" style="max-height: 160px">
                    <h5>ProDy-Prism Interface for PPIs</h5>
                    <p class="text-center" style="padding: 0 10 0 10">How structural and sequence information will be used to predict interfaces by mining known interface types and their compositions. </p>
                    <div class="btn-group dropup">
                      <a class="btn btn-primary disabled" href="#">Working Progress</a>
                      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="conformational_sampling/conformational_sampling.pdf"><i class="icon-book"></i> Download PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="conformational_sampling/conformational_sampling_files.tgz"><i class="icon-download-alt"></i> Tutorial files <code>.tgz</code></a></li>
                        <li><a href="conformational_sampling/conformational_sampling_files.zip"><i class="icon-download-alt"></i> Tutorial files <code>.zip</code></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
    -->
              </ul>
            </div>
          </div>



{% endblock %}
