{% extends "index.html" %}
{% block body %}


      <div class="row">
        <div class="span12">
          <div class="span5 pull-right" style="padding-top: 20px">
            <div class="well">
              <div id="panel-16-title" class="slide-title"></div>
              <i class="icon-circle-arrow-right slide-arrow" onclick="nextSlide(16);" title="Next slide"></i>
              <i class="icon-circle-arrow-left slide-arrow" onclick="prevSlide(16);" title="Previous slide"></i>
               <div id="panel-16-slide" class="slide-content"></div>
              <script>showSlide(16, -1);</script>
            </div>
          </div>

            <h2>Water Bridge Finder</h2>
            <p><b>WatFinder</b> identifies protein-water interactions (water bridges) relevant to protein stability and dynamics.</p>
 

              <h4>Features</h4>
              <p>You can use WatFinder to
                <ul>
                  <li>parse <a href="{{ pathto('manual/reference/proteins/emdfile.html#parseEMD') }}">electron density map files</a> from the EMDataBank<a href="{{ pathto('tutorials/cryoem_tutorial/searches.html') }}"></a></li>
                  <li>apply the <a href="{{ pathto('manual/reference/proteins/emdfile.html#TRNET', 1) }}">topology representing network algorithm</a> to fit pseudoatom beads to cryo-EM maps for use in ENM NMA</li>
                  <li>compare pseudoatom models to other structures and perform <a href="{{ pathto('tutorials/ensemble_analysis/blast.html#perform-pca', 1) }}">PCA</a> to analyse energy landscapes</li>
                  <li>sample conformational transitions using <a href="{{ pathto('manual/reference/dynamics/adaptive') }}">adaptive ANM</a>, which does not not atomic details</li>
                  <li>apply other ENM-based methods such as <a href="{{ pathto('manual/reference/dynamics/analysis.html#calcHitTime') }}">hitting time analysis</a></li>
                </ul>
              <!-- 
              <p><small>
              <strong>Reference</strong><br>
              Doljanin F, Krieger JM, Bahar I, Mikulska-Ruminska K
              wbFinder: a new ProDy tool for detecting water bridges 
              <strong>2024</strong> <em>Bionformatics</em> 160:104-120.
              -->
          </div>
        </div>

{% endblock %}
