{% extends "index.html" %}
{% block body %}


<div class="row">
  <div class="span12">
    <h2>Workshops</h2>
    Workshops are offered within the scope of <a href="http://www.mmbios.org" target="_blank">MMBioS</a> activities. A
    omplete list of workshops an be found <a href="http://www.mmbios.org/outreach/workshops" target="_blank">here</a>
    <h3>Hands-on Workshop on Computational Biophysics</h3>
    <p>
      You can find basic information about the use and functionality of <i>ProDy</i> in our <a
        href="http://bioinformatics.oxfordjournals.org/content/27/11/1575" target="_blank">2011</a> and <a
        href="http://bioinformatics.oxfordjournals.org/content/30/18/2681" target="_blank">2014</a> papers.
    </p>

    <p> You can find the lectures from 2020 workshop in the following:
      <li> <a href="../_static/ipynb/workshop2020/Lecture_1-1.pdf" target="_blank">Day 1 - Lecture 1</a> </li>
      <li> <a href="../_static/ipynb/workshop2020/Lecture_1-2.pdf" target="_blank">Day 1 - Lecture 2</a> </li>
      <li> <a href="../_static/ipynb/workshop2020/Lecture_2-1.pdf" target="_blank">Day 2 - Lecture 1</a> </li>
      <li> <a href="../_static/ipynb/workshop2020/Lecture_2-2.pdf" target="_blank">Day 2 - Lecture 2</a> </li>
    </p>


    <p>
      Please follow the instructions on the <a href="http://prody.csb.pitt.edu/downloads">Downloads</a> page to setup
      your computer beforehand.

      <p>For the convenience, we prepared IPython notebooks (*.ipynb) and other materials for each tutorial, linked
        below:</p>

      <li> <a href="../_static/ipynb/workshop2020/prody_basic.ipynb" download>ProDy Basics</a> <a
          href="../_static/ipynb/workshop2020/prody_basic.html">HTML</a></li>
      <li> <a href="../_static/ipynb/workshop2020/prody_gnm.ipynb" download>Gaussian Network Model Analysis</a> <a
          href="../_static/ipynb/workshop2020/prody_gnm.html">HTML</a></li>
      <li> <a href="../_static/ipynb/workshop2020/prody_anm.ipynb" download>Anisotropic Network Model Analysis</a> <a
          href="../_static/ipynb/workshop2020/prody_anm.html">HTML</a></li>
      <li> <a href="../_static/ipynb/workshop2020/prody_ensemble.ipynb" download>Ensemble Analysis and Comparison with
          Dynamics</a> (<a href="../_static/ipynb/workshop2020/blast_record3.pkl"
          title="Blast record to go with the Ensemble analysis tutorial if using Python3"
          download>blast_record3.pkl</a>) <a href="../_static/ipynb/workshop2020/prody_ensemble.html">HTML</a> </li>
      <li> <a href="../_static/ipynb/workshop2020/prody_evol_and_signdy.ipynb" download>Sequence Evolution and Signature
          Dynamics</a> <a href="../_static/ipynb/workshop2020/prody_evol_and_signdy.html">HTML</a> </li>
      <li> <a href="../_static/ipynb/workshop2020/prody_prs.ipynb" download>Perturbation Response Scanning</a> <a
          href="../_static/ipynb/workshop2020/prody_prs.html">HTML</a> </li>
      <li> <a href="../_static/ipynb/workshop2020/membrane_anm.ipynb" download>Membrane Anisotropic Network Model
          Analysis</a> <a href="../_static/ipynb/workshop2020/membrane_anm.html">HTML</a> </li>

      <p></p>
      <p>We also provide a zipped folder containing the materials for the Druggability session below:</p>

      <li> <a href="../_static/ipynb/workshop2020/drugui-mmbios2020.zip" download>Materials for Druggability</a></li>
    </p>

    <p>
      In these tutorials, we will reproduce some figures from the following papers:
      <li> ANM and Ensemble Analyses - <a href="http://www.pnas.org/content/106/34/14349" target="_blank">Bakan and
          Bahar, <i>PNAS</i> 2009</a> </li>
      <li> Perturbation Response Scanning - <a href="https://www.ncbi.nlm.nih.gov/pubmed/24831085"
          target="_blank">General et al, <i>LoS Comput Biol </i>2014</a> </li>
      <li> Structure-Sequence Comparison - <a href="http://mbe.oxfordjournals.org/content/29/9/2253.full"
          target="_blank">Liu and Bahar, <i>Mol Biol Evol </i>2012</a> </li>
    </p>

  </div>
</div>

{% endblock %}